* {
  font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  font-family: 'Rajdhani', sans-serif;
}